<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ placeData()?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-img class="ion-no-padding" [src]="placeData()?.imageUrl" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ placeData()?.title }}</ion-card-title>
            <ion-card-subtitle>
              {{ placeData()?.price | currency : 'BRL' }} / Night
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{ placeData()?.description }}</ion-label>
            <br />
            <div style="display: flex; gap: 6px">
              <ion-icon name="map-outline"></ion-icon>
              <ion-label>{{ placeData()?.location?.address }}</ion-label>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img
          role="button"
          (click)="onShowFullMap()"
          style="margin-bottom: 80px"
          [src]="placeData()?.location?.staticMapImageUrl"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  @if(!isBookable()) {
  <ion-item>
    <ion-label color="danger ion-text-center">
      You cannot book your own place.
    </ion-label>
  </ion-item>
  }
  <ion-button
    expand="block"
    color="primary"
    class="ion-margin ion-padding"
    (click)="onBookPlace()"
    [disabled]="!isBookable()"
  >
    <div>
      <span>BOOK THIS PLACE</span>
    </div>
  </ion-button>
</ion-footer>
