<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="'/places/tabs/offers/new'">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          @if (!isLoading()) { @for(offer of offers(); track offer.id) {
          <ion-item-sliding #slidingItem>
            <app-offer-item [offer]="offer"></app-offer-item>
            <ion-item-options>
              <ion-item-option
                color="secondary"
                (click)="onEdit(offer.id, slidingItem)"
              >
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          } } @else { @for(i of skeletonArray(); track i) {
          <app-offer-item-skeleton></app-offer-item-skeleton>
          } }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
