<ion-item detail="true" detailIcon="caret-back-outline">
  <ion-thumbnail slot="start">
    <ion-skeleton-text
      [animated]="true"
      style="width: 100%"
    ></ion-skeleton-text>
  </ion-thumbnail>
  <ion-label>
    <ion-skeleton-text
      [animated]="true"
      style="width: 180px"
    ></ion-skeleton-text>
    <div class="offer-details">
      <ion-text color="primary">
        <ion-skeleton-text
          [animated]="true"
          style="width: 50px"
        ></ion-skeleton-text>
      </ion-text>
      <div>
        <ion-skeleton-text
          [animated]="true"
          style="width: 10px"
        ></ion-skeleton-text>
      </div>
      <ion-text color="primary">
        <ion-skeleton-text
          [animated]="true"
          style="width: 50px"
        ></ion-skeleton-text>
      </ion-text>
    </div>
  </ion-label>
</ion-item>
