<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!form.valid" (click)="onCreateOffer()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-input
              label="Title"
              labelPlacement="floating"
              placeholder="Title"
              autocomplete="true"
              autocorrect="true"
              formControlName="title"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-textarea
              label="Description"
              labelPlacement="floating"
              placeholder="Description"
              rows="5"
              formControlName="description"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      @if(!form.get('description')?.valid && form.get('description')?.touched) {
      <ion-row>
        <ion-col>
          <p>Description must be between 1 and 180 characters.</p>
        </ion-col>
      </ion-row>
      }
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input
              label="Price"
              labelPlacement="floating"
              placeholder="180.95"
              type="number"
              formControlName="price"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <div>
              <ion-label>From</ion-label>
              <ion-datetime-button datetime="dateFrom"></ion-datetime-button>
            </div>
            <div>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    locale="pt-BR"
                    display-format="DD MMM YYYY"
                    min="2024-10-14"
                    max="2025-10-14"
                    placeholder="Select Date"
                    formControlName="dateFrom"
                    id="dateFrom"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </div>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>To</ion-label>
            <ion-datetime-button datetime="dateTo"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  locale="pt-BR"
                  min="2024-10-14"
                  max="2025-10-14"
                  placeholder="Select Date"
                  formControlName="dateTo"
                  id="dateTo"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
